body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    min-height: 100vh; 
}

.header {
    display: flex;
    flex: 0;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
}

#head-img {
    width: 48px;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #F9FAF8;
}

.head-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

.footer {
    flex: 0;
    font-family: sans-serif;
    justify-content: center;
    align-self: center;
    padding: 12px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: column;

}

.intro-card {
    display: flex;
    flex: 1;
    gap: 32px;    
    justify-content: center;
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.intro-card .intro-card-left{
    max-width: 700px;
}

.intro-card .intro-card-left #intro-header {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro-card .intro-card-left #intro-para {
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.intro-card .intro-card-left #intro-button {
    background-color: #3882F6;
    font-size: 14px;
    padding: 4px 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;

}

.intro-card .intro-card-right #intro-image {
    height: auto;
    width: 500px;
}

.title {
    text-align: center;
    padding-top: 45px;
    font-family: sans-serif;
    background-color: #F9FAF8;
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}

.info-card {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 45px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 90px;
    gap: 64px;
    background-color: #F9FAF8;
}

.info-card .info {
    max-width: 200px;
    font-family: sans-serif;
    font-size: 14px;
    color: grey;
}

.info-card .info .info-images {
    height: 200px;
    width: 200px;
    align-self: center;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.quote-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.quote-card .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    font-family: sans-serif;
    max-width: 1000px;
}

.quote-card .quote-author {
    padding-left: 750px;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.modal-card {
    display: flex;
    justify-content: center;
    background-color: #F9FAF8;
    padding-top: 90px;
    padding-bottom: 90px;   
    padding-left: 150px;
    padding-right: 150px;
}

.modal-card .modal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 45px;
    padding-top: 45px;
    max-width: 1000px;
    gap: 156px;
    font-family: sans-serif;
}

.modal-card .modal-container .modal-card-left #modal-header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.modal-card .modal-container .modal-card-left #modal-para {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.modal-card .modal-container .modal-card-right #modal-button {
    background-color: #3882F6;
    font-size: 14px;
    height: 30px;
    width: 140px;
    font-weight: bold;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
}

